.App {
  text-align: center;
  padding: 10px;
}

h1 {
  padding: 0px !important; 
}

a {
  font-family: 'Poppins';
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.general {
  margin-top: 50px;
  margin-left: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.general > h2 {
    width: 100%;
    text-align: left;
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 400;
}

.general > p {
  width: 50%;
  font-size: 13px;
  margin-block-start: 0;
  margin-block-end: 0;
}

.general > h1 {
    width: 100%;
    text-align: left;
    font-size: 2rem;
    margin-bottom: 0px;
    font-family: 'Poppins';
    font-weight: 700;
    cursor: pointer;
}

.beta__flag {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Poppins';
  text-align: center;
  color: gray;
  margin-top: 0px !important;
  padding: 0px !important;
  margin-block-end: 0;
}
